---
import { Image } from 'astro:assets'

import logoImage from '../../assets/logo.png';

import slide1 from '../../assets/slide-1.jpg';
import slide2 from '../../assets/slide-2.jpg';
import slide3 from '../../assets/slide-3.jpg';
import slide4 from '../../assets/slide-4.jpg';
import slide5 from '../../assets/slide-5.jpg';
---
<section class="
        container mx-auto max-w-screen-xl px-7 py-10
        lg:min-h-[500px] content-center font-pacamara
        prose lg:prose-xl
        prose-headings:font-pacamara-space prose-headings:mt-5 prose-headings:text-pacamara-dark prose-headings:font-bold lg:prose-h1:text-7xl prose-h1:mt-0 prose-heading:transition-all prose-heading:duration-300  
        prose-p:text-pacamara-primary/50 dark:prose-p:text-white/70 prose-p:mb-0 prose-p:transition-all prose-p:duration-300
        prose-img:mt-0 prose-img:mb-0  
        dark:prose-headings:text-white
    ">
    <Image src={logoImage} width={200} alt="" loading="eager" decoding="sync" class="relative w-[150px] lg:w-[220px] rounded-[15px] image-shine"  />
    <p x-data="{ greetings: ['Hello!', '你好!', 'Bonjour!', 'Hola!', 'こんにちは!', 'Hallo!'], hobbies: ['computer science', 'music', 'math', 'reading wikipedia'], greetingsIndex: 0, hobbiesIndex: 0 }"
       x-init="setInterval(() => { greetingsIndex = (greetingsIndex + 1) % greetings.length; hobbiesIndex = (hobbiesIndex + 1) % hobbies.length; }, 2000)"
       x-text="greetings[greetingsIndex] + ` I'm a high school student who's passionate about ` + hobbies[hobbiesIndex] + `.`">
    </p>
    <h1 x-data="{ adjWords: ['useless', 'fun', 'quirky'], nounWords: ['nerd', 'programmer', 'geek', 'developer', 'student'], currentAdjIndex: 0, currentNounIndex: 0 }"
        x-init="setInterval(() => { currentAdjIndex = (currentAdjIndex + 1) % adjWords.length; currentNounIndex = (currentNounIndex + 1) % nounWords.length; }, 2000)">
    <span class="gradient-underline"><span x-text="'Building ' + adjWords[currentAdjIndex] + ' things. Also I am a ' + nounWords[currentNounIndex] + '.'"></span></span>
    </h1></span></span></span>
    </h1>
</section>